.btn {
    border-radius: 3px;
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid #000000;
    padding: 0.8rem 1rem;
    &:hover {
      cursor: pointer;
      background: cornflowerblue;
    }
    &:active {
      transform: scale(0.98);
    }
    &:focus {
      outline: none;
    }
  }